body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; }

.github-cards {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  width: auto; }

.github-card {
  display: block;
  box-sizing: border-box;
  border: 1px solid #ccc;
  margin: 10px;
  padding: 20px;
  color: #ffffff;
  text-decoration: none;
  font-size: 12px;
  flex: 5;
  min-width: 50px; }
  .github-card > h3 {
    margin-top: 0;
    color: #6d9fe2;
    font-size: 15px; }

.github-card__meta {
  align-self: flex-end;
  margin-right: 20px; }
  .github-card__meta > i {
    font-size: 16px; }
